<!-- Documentation is available at http://www.sublimetext.com/docs/projects -->
<project>
	<mount dir="." exclude="*.png,*.jpg,*.exe,*.dll,*.obj,*.pyc" direxclude=".svn,.git,.hg,CVS,bin"/>
	<options>
<![CDATA[
buildFile Packages/C++/Make.sublime-build
]]>
	</options>
</project>
<!DOCTYPE html>
<html>
<head>
<title>Newhotel</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="slider">
<div class="load">
</div>
<header>
<nav>
<div class="c clearfix">
<img src="C:\Users\Nikhil Singh\Documents\newhotelmanagment\Images/logo.png" class="logo">
<ul class="main">

<li><a href="home.html">HOME</a></li>
<li><a href="registration.html">REGISTER</a></li>
<li><a href="room.html">ROOMS</a></li>
<li><a href="food.html">CUISINES</a></li>
<li><a href="about.html">ABOUT US</a></li>

</ul>
<a href="#" class="mobile-icon" onclick="slideshow()"><i class="fa fa-bars"></i></a>
</div>
</nav>
<div class="maincontent">
<div class="container">
<div class="box"><div class="imgbox"><img src="Images/food.jpeg"></div><div class="details"><div class="more"><h2>REGULAR CUISINE</h2><p>Contains regular breakfast , charges included in room charge.</p></div></div></div>
<div class="box"><div class="imgbox"><img src="Images/food2.jpeg"></div><div class="details"><div class="more"><h2>BAKERY</h2><p>All the delicious bakery items baked by best bakers , charges included in room charge.</p></div></div></div>
<div class="box"><div class="imgbox"><img src="Images/food3.jpeg"></div><div class="details"><div class="more"><h2>CHOCOLATE CAKE</h2><p>Try our special chocolate cake , charges included in room charge.</p></div></div></div>
<div class="box"><div class="imgbox"><img src="Images/food5.jpg"></div><div class="details"><div class="more"><h2>CHINESE CUISINE</h2><p>Try our chinese cuisine with mouth watering menu , charges included in room charge.</p></div></div></div>
<div class="box"><div class="imgbox"><img src="Images/food6.jpg"></div><div class="details"><div class="more"><h2>DINING CUISINE</h2><p>Try our special dining cuisine which contains all vegetarian as well as non-vegtarian dishes , charges included in room charges.</p></div></div></div>

</div>
   
 </div>
</div>
 
</header>

</body>
</html>
